# Ignore compiled binaries
*.o
*.out

# Ignore the so_long_tester file
./mac/so_long_tester

# Ignore .DS_Store files
.DS_Store

# Ignore so_long.dSYM folder
so_long.dSYM

# Ignore linux folder
./linux
